* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('home.jpg');
    background-size: cover;
    background-position: center;  
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: rgba(0, 0, 0, 0.7);
}

.logo {
    font-size: 2em;
    font-family:'Courier New', Courier, monospace;
    color: #ffff00;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #00bb00;  
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #00bb00;
    border-radius: 5fx;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    background: #00bb00;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #00bb00;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #00bb00;
    font-weight: 600;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    border: transparent;
    background: #008000;
    color: rgb(255, 255, 255);
}

.container {
    max-width: 800px;
    position: absolute;
    left: 100px;
    top: 180px;
    color: rgb(255, 255, 255);
}

.container h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 56px;
    font-weight: 700;
}

.container p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
}

.container .btnExplore-popup {
    width: 140px;
    height: 50px;
    background: rgb(255, 255, 0);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(0, 80, 0);
    font-weight: 600;
    margin-top: 10px;
    transition: .5s;
}

.container .btnExplore-popup:hover {
    background: rgb(0, 0, 0);
    color: rgb(0, 187, 0);
}

.blur-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    display: none;
}

.wrapper {
    position: relative;
    width: 380px;
    height: 400px;
    background: white;
    box-shadow: 0 0 50px rgb(0, 0, 0); 
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .4s ease, height .2s ease;
    transform: scale(0);
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 540px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    position: absolute;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    font-weight: 700;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 300px;
    height: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: #dddddd;
    border: none;
    border-radius: 40px;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: black;
    padding: 20px 15px 20px 40px;
}

.input-box input::placeholder {
    color: gray;
    font-weight: 500;
}

.input-box .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2ex;
}

.remember-forgot {
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: -5px 10px 15px 10px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #008000;
    margin-right: 2px;
}

.remember-forgot a {
    color: #008000;
    font-weight: 600;
    text-decoration: none;
    
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #008000;
    color: white;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background: black;
    transition: .5s;
}

.login-register {
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register a {
    color: #008000;
    text-decoration: none;
    font-weight: 600;
}

.login-register a:hover {
    text-decoration: underline;
}













